@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-green: #287f71;
  --primary-yellow: #eb862a;
  --primary-blue: #abbdd3;
  --grayish: #97a3b6;
  --dark: #111729;
  --white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
